# 아이리스 품종 예측하기

### 1. 데이터 로딩 후 데이터 확인

In [2]:
from sklearn.datasets import load_iris
import pandas as pd

In [3]:
iris = load_iris()

In [5]:
# X, y
iris_data = iris.data       # X 
iris_label = iris.target     # y

In [6]:
iris_data.shape, iris_label.shape

((150, 4), (150,))

In [7]:
print(iris.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [8]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [9]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [10]:
# Iris data -> Data Frame으로 변환
iris_df = pd.DataFrame(iris_data, columns=iris.feature_names)
iris_df['label'] = iris.target
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [11]:
iris_df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

### 학습용 데이터와 테스트용 데이터 분리하기

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(
    iris.data, iris.target, test_size=0.2, random_state=2021, 
)

In [15]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((120, 4), (30, 4), (120,), (30,))

In [16]:
y_test

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 2, 1, 2, 1, 1, 0, 1, 1, 2,
       2, 0, 2, 1, 1, 1, 0, 0])

## 의사 결정 트리 (decision tree) 알고리즘

### 3. 머신 러닝 알고리즘을 활용해 학습

In [20]:
from sklearn.tree import DecisionTreeClassifier

In [34]:
# 객체 생성 --> 모델 생성
dt_clf = DecisionTreeClassifier(random_state=11)  # 모델 생성시 hyper-parameter 결정 
dt_clf

DecisionTreeClassifier(random_state=11)

In [35]:
# 학습 수행 
dt_clf.fit(X_train, y_train)

DecisionTreeClassifier(random_state=11)

### 4. 학습된 모델을 기반으로 테스트 데이터에 대한 예측 수행

In [36]:
# 예측값
pred = dt_clf.predict(X_test)

In [37]:
pred

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 2, 1, 2, 1, 1, 0, 1, 1, 2,
       1, 0, 1, 1, 1, 1, 0, 0])

### 5. 예측값과 실제값을 비교해 모델 성능을 평가

In [38]:
from sklearn.metrics import accuracy_score

In [39]:
# 정확도 평가
score = accuracy_score(y_test, pred)
score

0.9333333333333333

In [41]:
y_test, pred

(array([0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 2, 1, 2, 1, 1, 0, 1, 1, 2,
        2, 0, 2, 1, 1, 1, 0, 0]),
 array([0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 2, 1, 2, 1, 1, 0, 1, 1, 2,
        1, 0, 1, 1, 1, 1, 0, 0]))

## Support Vector Machine Algorithm

In [43]:
from sklearn.svm import SVC

In [58]:
sv_clf = SVC(random_state=3)

In [59]:
sv_clf.fit(X_train, y_train)

SVC(random_state=3)

In [61]:
pred = sv_clf.predict(X_test)

In [71]:
score = accuracy_score(y_test, pred)
print(f'예측 정확도: {score:.4}')

예측 정확도: 1.0

### Logistic Regression

In [73]:
from sklearn.linear_model import LogisticRegression

In [74]:
lr_clf = LogisticRegression(random_state=2021)
lr_clf.fit(X_train, y_train)

LogisticRegression(random_state=2021)

In [75]:
pred = lr_clf.predict(X_test)
score = accuracy_score(y_test, pred)
print(f'예측 정확도: {score:.4}')

예측 정확도: 1.0